<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">
<style>
    .custome-button {
        background-color: black !important;
        color: white !important;
        border: 1px solid #89f7fe !important;
    }

    .custome-button:hover {
        background-color: #89f7fe !important;
        color: #0e0e0e !important;
    }

    .display-hidden{

display: none;
}



</style>
<div id="wrapper">
    
    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-md-3">
                    <button id="addNewMaster" class="btn btn-info waves-effect waves-light btn-sm" data-toggle="modal"
                        data-target=".bs-example-modal-xl" type="submit"> <i class="mdi mdi-plus"></i> <span>New File
                            Upload</span>
                    </button>
                </div>
            </div>

            <div id="" class="row">
                <div class="col-md-12">
                    <table id="harexllist_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>File Name</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="harexllist_tbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- container-fluid -->

        <% include ../partials/footer.html %>

    </div>

    <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myExtraLargeModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="card-box">
                        <form id="uploadFormHare" enctype="multipart/form-data" method="post">
                          
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2  col-form-label" for="simpleinput">Client Content</label>
                                        <input type="file" id="userHarekrishna" name="userHarekrishna"
                                            class="dropify form-control" parsley-trigger="change" data-height="70"
                                            required />
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-2  col-form-label" for="simpleinput">EPG</label>
                                        <input type="file" id="userOnetakeEpg" name="userOnetakeEpg"
                                            class="dropify form-control" parsley-trigger="change" data-height="70"
                                            required />
                                    </div>
                                </div> -->
                            </div>

                           
                          
                            <div class="form-group">
                                <button parsley-trigger="change" id="jsonUpload" name="files1"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                    type="submit" class="btn btn-info waves-effect waves-light btn-sm"> <i
                                        class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
                                </button>
                            </div>
                            <!-- <input parsley-trigger="change" id="jsonUpload"  name="files1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="submit" value="Upload Image"> -->

                            
                                  
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-video" role="progressbar"
                                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        <span id="percent_complete">0%</span>
                                    </div>
                                </div> -->
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>


<!-- custom js -->
<script src="../../custom/js/user_management/addClientData.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>


</body>

</html>