
<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>

<!-- Responsive Table js -->
<script src="../../assets/libs/rwd-table/rwd-table.min.js"></script>

<!-- Init js -->
<script src="../../assets/js/pages/responsive-table.init.js"></script>

<!-- knob plugin -->
<script src="../../assets/libs/jquery-knob/jquery.knob.min.js"></script>


 


 

  

<!--summernote init-->
<script src="../../assets/libs/summernote/summernote-bs4.min.js"></script>

<!-- Modal-Effect -->
<script src="../../assets/libs/custombox/custombox.min.js"></script>


<script src="../../assets/js/pages/inbox.init.js"></script>

<!-- dropify js -->
<script src="../../assets/libs/dropify/dropify.min.js"></script>

<!-- form-upload init -->
<script src="../../assets/js/pages/form-fileupload.init.js"></script>

<!-- Validation js (Parsleyjs) -->
<script src="../../assets/libs/parsleyjs/parsley.min.js"></script>

<!-- validation init -->
<script src="../../assets/js/pages/form-validation.init.js"></script>

<!-- Plugins Js -->
<script src="../../assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../../assets/libs/switchery/switchery.min.js"></script>
<script src="../../assets/libs/multiselect/jquery.multi-select.js"></script>
<script src="../../assets/libs/jquery-quicksearch/jquery.quicksearch.min.js"></script>

<script src="../../assets/libs/select2/select2.min.js"></script>
<script src="../../assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="../../assets/libs/jquery-mask-plugin/jquery.mask.min.js"></script>
<script src="../../assets/libs/moment/moment.js"></script>
<script src="../../assets/libs/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
<script src="../../assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="../../assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../../assets/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../../assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>




<!-- Init js-->
<script src="../../assets/js/pages/form-advanced.init.js"></script>

<script src="../../assets/libs/x-editable/bootstrap-editable.min.js"></script>
<!-- Init js-->
<script src="../../assets/js/pages/form-xeditable.init.js"></script>

<!-- Toastr js -->
<script src="../../assets/libs/toastr/toastr.min.js"></script>
<script src="../../assets/js/pages/toastr.init.js"></script>

<!-- Tree view js -->
<script src="../../assets/libs/treeview/jstree.min.js"></script>
<script src="../../assets/js/pages/treeview.init.js"></script>


<!-- third party js -->
<script src="../../assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="../../assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="../../assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="../../assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="../../assets/libs/datatables/buttons.html5.min.js"></script>
<script src="../../assets/libs/datatables/buttons.flash.min.js"></script>
<script src="../../assets/libs/datatables/buttons.print.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.select.min.js"></script>
<script src="../../assets/libs/pdfmake/pdfmake.min.js"></script>
<script src="../../assets/libs/pdfmake/vfs_fonts.js"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<script src="../../assets/js/pages/datatables.init.js"></script>

<!-- Modal-Effect -->
<script src="../../assets/libs/custombox/custombox.min.js"></script>




<!-- Sweet Alerts js -->
<script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>


<!--venobox lightbox-->
<script src="../../assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>


<!-- Table Editable plugin-->
<script src="../../assets/libs/jquery-tabledit/jquery.tabledit.min.js"></script>




<!-- BootstrapValidator JS -->
<script type="text/javascript"
  src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>


<!-- ####################################################################### -->






<!-- // COMMON JS -->


<script>
  $(document).ready(function () {

    // temp code
    var x = localStorage.getItem("isEnlarged");
    if (x === 'yes') {
      $("#body-content").addClass('enlarged');
    }

  });

  function toggleSidebar() {
    $("#body-content").toggleClass("enlarged");

    // temp code
    if ($("#body-content").hasClass("enlarged")) {
      localStorage.setItem('isEnlarged', 'yes');
    } else {
      localStorage.setItem('isEnlarged', 'no');
    }
  }


  $(".toggle-sidebar").click(function () {
    toggleSidebar()
  });


 
</script>