<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="../../images/icons/user.svg" alt="user-img" title="Profile"
                class="rounded-circle img-thumbnail avatar-lg">
            <div class="dropdown">

                <% if (userData !== '') { %>
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                    data-toggle="dropdown"><span><%=userData.idToken.payload.name%></span>
                </a>
                <% } else { %>
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">User
                </a>
                <% }  %>

            

                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user mr-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings mr-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock mr-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fe-log-out mr-1" id="logout" class="logout"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">Admin Head</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/v1/users/settings" class="text-muted">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="/logout" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu" data="<%=userRole%>">

               
               

                    <li>
                        <a href="/v1/clients">
                            <i class="mdi-22px mdi mdi-account-plus"></i>
                            <span> Add Customer</span>
                        </a>
                    </li>
    
    
                    <li>
                        <a href="/v1/users">
                            <i class="mdi-22px mdi mdi-book-multiple-plus"></i>
                            <span> File Management </span>
                        </a>
                    </li>
    
                    <li>
                        <a href="/v1/clientUploadData/clientUploadData">
                            <i class="mdi-22px mdi mdi-file-upload"></i>
                            <span> Upload Client Content </span>
                        </a>
                    </li>
               
               

              


                <!-- <li>
                    <a href="/v1/users/settings">
                        <i class="mdi-22px mdi mdi-file-upload"></i>
                        <span> Settings </span>
                    </a>
                </li> -->



            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->