<% include ./partials/header.html %>
<style>

.custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden{

        display: none;
    }

  

</style>
<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ./partials/topbar.html %>

    <% include ./partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <table id="xldata_table" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File Name</th>
                            <th>Created At</th>
                            <th>File Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="xldata_tbody">

                    </tbody>
                </table>
            </div>
           
        </div>

      
        
        <!-- container-fluid -->


      

        <% include ./partials/footer.html %>

    </div>


  


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ./partials/right_sidebar.html %>

<% include ./partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/user_management/user.js"></script>

</body>

</html>