<% include ../partials/header.html %>
<style>

.custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden{

        display: none;
    }

  
    tr:nth-child(even) {background: #4b5058;color:#fff}
/* tr:nth-child(odd) {background: #FFF} */

  

</style>
<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">

            <div id="sample_div1" class="row">
                <div class="col-md-11">
                    <div class="">
                        <table id="epgdata_table" class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th style="width: 10%;">Date</th>
                                    <th>Start Time</th>
                                    <th>Stop Time</th>
                                    <th>Duration</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Is-repeat</th>
                                    <th>Thumbnail</th>
                                    <th>Program Number</th>
                                </tr>
                            </thead>
                            <tbody id="epgdata_tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div id="sample_divOntake" class="row">
                <div class="col-md-12">
                    <div class="">
                        <table id="epgdata_table" class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th style="width: 10%;">Date</th>
                                    <th style="width: 10%;">Start Time</th>
                            
                                    <th>Duration</th>
                                    <th>Title</th>
                                    <th style="width: 18%;">Synopsis</th>
                                    <th>Genure</th>
                                    <th>Sub_Genure</th>
                                    <th>Language</th>
                                </tr>
                            </thead>
                            <tbody id="epgOnetakedata_tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div id="sample_div" class="row">
                <div class="col-md-12">
                    <div class="">
                        <table id="epgdata_table" class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th style="width: 10%;">Date</th>
                                    <th style="width: 10%;">Start Time</th>
                                    <th style="width: 10%;">Stop Time</th>
                                    <th>Duration</th>
                                    <th>Title</th>
                                    <th style="width: 18%;">Description</th>
                                    <th>Is-repeat</th>
                                    <th>Thumbnail</th>
                                    <th>Program Number</th>
                                </tr>
                            </thead>
                            <tbody id="epgSrmddata_tbody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

      
        
        <!-- container-fluid -->


      

        <% include ../partials/footer.html %>

    </div>


  


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/epgManagement.js"></script> 

</body>

</html>