<% include ../partials/header.html %>
<style>

.custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden{

        display: none;
    }

    .modaldialog1{
    overflow-y: initial !important
}
.modalbody1{
    height: 250px !important;
    overflow-y: auto !important;
}


.dropdown-menu.show {
    top: 1%!important;
    right: 59px !important;
   
}
</style>
<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">
          
    <div class="col-md-12">
 <!-- Button trigger modal -->
 

        <div class="card-box">

            <form action='' id='getfiledata' data-parsley-validate novalidate>
                <div class="row">
                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Customer List</label>
                            <select id="Customer_Name" class="custom-select">
                                <option selected>Select channel</option>
                                <!-- <option value="Wellness">Wellness</option> -->
                                <!-- <option class="user-name" id="getuserfiledata" value="pitaara" username="pitaara">pitaara</option> -->
                        
                            </select>
                        </div>

                    </div>
                   
               
                    <div class="col-md-3">

                        <button id="find-file" class="mt-4 btn btn-info waves-effect waves-light btn-sm"
                        type="submit"> <i class="mdi mdi-file-find"></i> <span>Find</span>
                    </button>

                    </div>
              
                </div>
               </form>
         

               
                 
                    <div id="tableDiv" class="row display-hidden">

                      
                        <div class="col-md-12">
                            <label for="exampleInputEmail1">File List</label>
                               
                            <table id="xllist_table"  class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                       
                                        <th>File Name</th>
                                        <th>Channel Name</th>
                                        <th>User Name</th>
                                        <th>Created At</th>
                                        <!-- <th>Modified On</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
        
                                <tbody id="xllist_tbody">
        
                                </tbody>
                            </table>


                               
                            
                        </div>
                    </div>
               
               


          

           
        </div>


    </div>
          
             
           

        </div>

      
        
        <!-- container-fluid -->


      

        <% include ../partials/footer.html %>

    </div>

    

        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Air File</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div id="airFileData"class=""></div>
                       
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



     


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>


 <!-- sample modal content -->
 <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="">
                                <table class="table table-bordered table-striped mb-0">
                                    <!-- <tbody id="airFileUpdationData">
                                   
                                         
                                      

                                    </tbody> -->

                                   
                                        <div id="airFileUpdationData" class="">
                                          
                                        </div>
                                  
                                </table>
                            </div>
                            
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light updateAir">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
 
<script src="../../custom/js/fileManagement.js"></script> 


</body>

</html>