<% include ../partials/header.html %>
    <style>
        .custome-button {
            background-color: #46aef7 !important;
            color: #fff !important;
            border: 1px solid#46aef7 !important;
        }

        .display-hidden {

            display: none;
        }


        tr:nth-child(even) {
            background: #4b5058;
            color: #fff
        }

        /* tr:nth-child(odd) {background: #FFF} */
    </style>
    <!-- Custom CSS -->
    <link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

    <div id="wrapper">

        <% include ../partials/topbar.html %>

            <% include ../partials/left_sidebar.html %>

                <!-- ============================================================== -->
                <!-- Start Page Content here -->
                <!-- ============================================================== -->

                <div class="content-page">
                    <hr style="margin-top: 0rem;margin-bottom: 1rem;">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div id="sample_div1" class="row">
                            <div class="col-md-11">
                                <div class="">
                                    <table id="xldata_table" class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Programme Name</th>
                                                <th>TOPIC</th>
                                                <th>Subject</th>
                                                <th>CodeNo</th>
                                                <th>Duration</th>

                                            </tr>
                                        </thead>

                                        <tbody id="xldata_tbody">

                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>


                        <div id="sample_divOntake" class="row">
                            <div class="col-md-12">
                                <div class="">


                                    <table id="xlOnetakedata_table" class="table mb-0 display">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Start Date</th>
                                                <th>Content Id</th>
                                                <th>Program Name</th>
                                                <th>Program File Name</th>

                                                <th>On Air Time</th>
                                                <th>Duration</th>
                                            </tr>
                                        </thead>

                                        <tbody id="xlOnetakedata_tbody">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>



                        <div id="sample_div" class="row">
                            <div class="col-md-12">
                                <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0" id="srmdxldata_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Channel</th> -->
                                            <th>DATE</th>
                                            <th>EVENT ID</th>
                                            <th>TITLE</th>
                                            <th>TXTIME</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="srmdxldata_tbody">
                                    </tbody>
                                </table>
                                <!-- </div>
                        </div>
                    </div> -->
                            </div>

                        </div>


                        <div id="harekrishna_div" class="row">
                            <div class="col-md-12">
                                <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0 dt-responsive nowrap" data-pattern="priority-columns"
                                    style="width:100%" id="harekrishnaxldata_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Channel</th> -->
                                            <th>Airing Start Time</th>
                                            <th>End Time</th>
                                            <th>Program Name</th>
                                            <th>File Name</th>
                                            <th>Fillers Serial Number</th>
                                            <th>EpisodeTitle</th>
                                            <th>StarCast</th>
                                            <th>POPUPImageVideo_1</th>
                                            <th>POPUPImageVideo_2</th>
                                            <th>POPUPImageVideo_3</th>
                                            <th>EpisodeNumber</th>
                                        </tr>
                                    </thead>
                                    <tbody id="harekrishnaxldata_tbody">
                                    </tbody>
                                </table>
                                <!-- </div>
                        </div>
                    </div> -->
                            </div>

                        </div>

                        <div id="pitaara_main_div" class="row">
                            <div class="col-md-12">
                                <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0" id="pitaara_data_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Start Date</th>
                                            <th>ContentID</th>
                                            <th>ProgramName</th>
                                            <th>ProgramFileName</th>
                                            <th>OnAirPoint</th>
                                            <th>DURATION</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pitaara_data_tbody">
                                    </tbody>
                                </table>
                                <!-- </div>
                        </div>
                    </div> -->
                            </div>

                        </div>

                        <div id="greenchillies_main_div" class="row">
                            <div class="col-md-12">
                                <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0" id="greenchillies_data_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Clip Id</th>
                                            <th>Event</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="greenchillies_data_tbody">
                                    </tbody>
                                </table>
                                <!-- </div>
                        </div>
                    </div> -->
                            </div>

                        </div>
<!-- fancode code -->
                        <div id="fancode_div" class="row">
                            <div class="col-md-12">
                                <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0 dt-responsive nowrap" data-pattern="priority-columns"
                                    style="width:100%" id="fancode_data_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Channel</th> -->
                                            <th>Airing Start Time</th>
                                            <th>End Time</th>
                                            <th>Program Name</th>
                                            <th>File Name</th>
                                            <th>Fillers Serial Number</th>
                                            <th>EpisodeTitle</th>
                                            <th>StarCast</th>
                                            <th>POPUPImageVideo_1</th>
                                            <th>POPUPImageVideo_2</th>
                                            <th>POPUPImageVideo_3</th>
                                            <th>EpisodeNumber</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fancode_data_tbody">
                                    </tbody>
                                </table>
                                <!-- </div>
                        </div>
                    </div> -->
                            </div>

                        </div>
<!-- fancode code -->

                    </div>



                    <!-- container-fluid -->




                    <% include ../partials/footer.html %>

                </div>





                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <% include ../partials/right_sidebar.html %>

        <% include ../partials/foot.html %>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>

            <!-- custom js -->
            <script src="../../custom/js/fileManagement.js"></script>
            <script>


// $(document).ready(function() {
//     $('#xlOnetakedata_table').DataTable( {
//         dom: 'Bfrtip',
//         buttons: [
//             'copyHtml5',
//             'excelHtml5',
//             'csvHtml5',
//             'pdfHtml5'
//         ]
//     } );
// } );

// function fnExcelReport()
// {
//     var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
//     var textRange; var j=0;
//     tab = document.getElementById('xlOnetakedata_table'); // id of table

//     for(j = 0 ; j < tab.rows.length ; j++) 
//     {     
//         tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
//         //tab_text=tab_text+"</tr>";
//     }

//     tab_text=tab_text+"</table>";
//     tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
//     tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
//     tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

//     var ua = window.navigator.userAgent;
//     var msie = ua.indexOf("MSIE "); 

//     if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
//     {
//         txtArea1.document.open(".xlsx","replace");
//         txtArea1.document.write(tab_text);
//         txtArea1.document.close();
//         txtArea1.focus(); 
//         sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
//     }  
//     else                 //other browser not tested on IE 11
//         sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

//     return (sa);
// }


            </script>

            </body>

            </html>