<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">
<style>
    .custome-button {
        background-color: black !important;
        color: white !important;
        border: 1px solid #89f7fe !important;
    }

    .custome-button:hover {
        background-color: #89f7fe !important;
        color: #0e0e0e !important;
    }

    .display-hidden{

display: none;
}

</style>
<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  

                        <div class="row mb-2">

                            <button class="btn btn-xs btn-dark waves-effect waves-light" id="userbtn" data-toggle="modal"
                                        data-target="#userRegisterModal"> <i class="mdi mdi-account-plus mr-1"></i> <span>Create
                                            User</span>
                                    </button>  
                        </div>
                       
                 
               
                </div>
            </div>

           
            <div class="row">

             
                <div class="col-md-8 user-listing-container">
                    <table id="list_all_user_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>Username/Email</th>
                                <th>Name</th>
                                <th>State</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="list_all_users_tbody">

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 user-overview-container">

                </div>

            </div>
            <% include ../partials/footer.html %>

        </div>
    </div>



    <div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalScrollableTitle">Create User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='' id='register-form' data-parsley-validate novalidate>

                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input class="form-control" type="text" id="fullName" placeholder="Enter your name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" required parsley-type="email"
                                placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" required id="password"
                                data-parsley-minlength="8" data-parsley-maxlength="16"
                                placeholder="Enter your password">
                        </div>

                        <!-- <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="user-role-checkbox"
                                    id="checkbox-admin">
                                <label class="custom-control-label" for="checkbox-signup">Admin
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="user-role-checkbox"
                                    id="checkbox-user">
                                <label class="custom-control-label" for="checkbox-signup">User
                                </label>
                            </div>
                        </div> -->

                        <div class="form-group mb-0 text-center">
                            <button id="signin-btn" class="btn btn-sm btn-primary btn-block signin-btn" type="submit">
                                Sign Up </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->



<!-- custom js -->
<script src="../../custom/js/user_management/user.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>